@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    border: none;
}
:root{
    --light:#f8f9fa;
    --light-blue:#649ec3;
    --blue:#3393c5;
    --white:#fff;
    --grey:#6c757d;
    --white-shade:#f2f2f2;
    --dark:#343a40;
    --danger:#d0312d;
    --success:#4caf50;
}
body{
    background-color: var(--light);
    font-family: 'Poppins', sans-serif;
}
.main-content{
    display:flex;
}
/* SIDEBAR  */
.sidebar{
    position: sticky;
    top:0;
    left: 0;
    bottom: 0;
    width: 6rem;
    height: 100vh;
    padding: 0 0.75rem;
    color: var(--white);
    transition: all 0.5s linear;
    background-color: var(--light-blue);
}
.sidebar:hover{
    width: 15rem;
    transition: 0.5s ;
}
/* .sidebar:hover .menu li{
    margin
} */
.logo{
    height: 4rem;
    padding:1rem;
    font-size: 1.5rem;
    font-weight: 800;
}
.menu{
    list-style: none;
    position: relative;
    padding: 0;
    height: 80%;
    margin-right: 0.75rem;
}
.menu li{
    padding: 1rem;
    margin:0.5rem 0.5rem 0.5rem 0;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active{
    background-color: var(--blue);
}
.active a{
    font-weight: 500;
    font-size: 1.2rem;
}
.menu li a{
    color:var(--white);
    font-size: 0.985rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.menu li a span{
        overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* END OF SIDEBAR */
.main{
    position: relative;
    padding: 1rem;
    width: 100%;
    overflow: hidden;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: var(--white-shade);
    padding:1.2rem 0.8rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.header-title span{
    color: var(--dark);
    font-size: 1.15rem;
    font-weight: 500;
}
.user{
    cursor: pointer;
    align-items: center;
}
/* CONTENT */
/* HOME */
.stats-board{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0.8rem;
    padding:1rem;
    gap: 1.5rem;
}
.item{
    display: flex;
    flex-direction: column;
    background-color: var(--white-shade);
    padding: 1rem;
    width: 20rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}
.item i{
    padding:0.4rem 0;
}
.item .item_count{
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    padding:0.5rem 0;
}
.item .item_title{
    padding: 0.4rem 0;
}
.listing{
    padding:1rem;
}
.listing table{
    padding: 0.5rem 0.8rem;
    width: 100%;
    margin:auto
}

table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.5rem;
  }
.table-wrapper{
    padding: 0.3rem 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-wrapper .addBtn{
    background-color: var(--blue);
    color: var(--white);
    padding: 0.35rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
  
  td, th {
    border: 1px solid #dddddd !important;
    text-align: left;
    padding: 8px;
  }
.tbl_listing td{
    font-size: 0.9rem;
    font-weight: 300;
}
.tbl_listing .actionsContainer{
    text-align: center;
    cursor: pointer;
    position: relative;
}
.tbl_listing .actionsContainer i{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--blue);
}

.actionsContainer .actionsBtn{
    background-color: var(--white);
    border: none;
    outline: none;
}

.popupMenu{
    display: none;
    position: absolute;
    top:2rem;
    left:0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
.menu-visible{
    display: block;
}
.menu-item{
    padding: 12px 16px;
    width: 100%;
    white-space: nowrap;
}
.menu-item a{
    text-decoration: none;
    color: var(--dark);
}
.menu-item a span{
    padding:0 0.3rem;
    font-weight: 400;
}
.menu-item:hover {
    background-color: var(--light-blue);
}
.menu-item:hover a,.menu-item:hover a i{
    color:var(--white);
}
.menu-item a .fa-trash{
    color:var(--danger);
}
.menu-item a .fa-pen-to-square{
    color: var(--success);
}
.paginationWrapper{
    display: flex;
    justify-content: flex-end;
    padding: 0.3rem;
    margin-right: 2rem;
}

.page-item.active .page-link {
    color: var(--white) !important;
    background: var(--light-blue) !important;
    border: 1px solid var(--light-blue);
  }
.page-item .page-link{
    color: var(--light-blue) !important;
}
/* END OF CONTENT SECTION */


/* MODALS  */
.dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dialog-content {
    background-color: var(--white);
    border-radius: 0.5rem;
    margin: 5% auto;
    padding: 1.2rem;
    width: 80%;
    max-width: 50%;
    position: relative;
}
.close {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 20px;
    cursor: pointer;
}
.dialog-content .dialog-header{
    margin-bottom: 2rem;
}
.dialog-content .dialog-header .close{
    font-size: 2.5rem;
}
.dialog-header .dialog-title{
    font-size: 1.5rem;
    text-align: center;
    display: block;
    color: var(--blue);
    font-weight: 400;
}
.btns-group{
    padding:0.3rem 0.3rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
}
.closeBtn{
    background-color: var(--grey);
    text-decoration: none;
    padding:0.8rem 2rem;
    border-radius: 0.5rem;
    color: var(--white);
}
.submit-Btn{
    background-color: var(--light-blue) !important;
    padding:0.8rem 2rem !important;
    border-radius: 0.5rem !important;
    border: none !important;
    outline: none !important;
}
.form-group label{
    color: var(--dark);
    font-weight: 500;
}
.edit-container,.member-edit-cont{
    margin:0.8rem 2rem;
    padding:2rem;
}
.edit-container form{
    width:60%;
    margin:auto;
    display: flex;
    flex-direction: column;
}
.edit-form{
    width: 80%;
    margin:auto;
}
.form-header span{
    text-align: center;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
}
.form-body{
    display: flex;
    flex-direction: column;
}
.form-body .row-group{
    display: flex;
    flex-direction: row !important;
}
.section-title span{
    font-size: 1.25rem;
    font-weight: 500;
}
.input-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:0.4rem;
    margin-bottom:0.8rem;
}
.input-group label{
    margin-bottom: 0.35rem;
}
.input-group input{
    width: 100% !important;
}
#errorMessage {
    display: none;
    font-size: 0.8em;
    color:#DC3545 !important;
}
/* END OF MODALS  */